SUPABASE_URL=https://xraeyejtajlbhectezxu.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhyYWV5ZWp0YWpsYmhlY3Rlenh1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTk2MDg2OCwiZXhwIjoyMTAxNTM2ODY4fQ.gnDjVLzqjpRpJxwbU2Frv7mGfrr6nUR0hYLrrHZSaIk